#content
    position relative
    padding 3em
    padding-top 2em
    margin 0
    border-top 3px solid rgba(0, 0, 0, 0.2)
    overflow-y scroll
    opacity 0
    
.project-container   
    max-width 40em
    margin auto
    margin-bottom 5em
    opacity 0
    padding 1em
    h3
        font-size 1.3em
        font-weight 200
        +mq('bp-4')
            font-size 1.5em
    a
        color white
        text-decoration none